html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--text-on-background-color);
	margin: 0;
	box-sizing: border-box;
	padding: 8px;
	font-family: 'Lato', 'Proxima Nova', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 0.9em;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
	position: absolute;
	overflow-y: auto;
	overflow-x: auto;
}

a {
	color: var(--main-color-75);
	text-decoration: none;
}

a:hover {
	color: var(--main-color);
	text-decoration: underline;
}

a:visited {
	color: var(--secondary-color-75);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.clickable {
	cursor: pointer;
	transition: box-shadow 0.6s;
	will-change: opacity, background-color, box-shadow;
		--box-shadow: var(--box-shadow-2);
	}
	
	.clickable:hover {
	--box-shadow: var(--box-shadow-3);
}

.clickable:active {
	--box-shadow: var(--box-shadow-1);
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
}